div {
    letter-spacing: -1px;
}
.block_all {
    width: 750px;
    height: 1879px;
    margin: auto;
}
.block1 {
    width: 750px;
    height: 236px;
    background-color:#2D7053 ;
}
.elips1 {
    width: 142px;
    height: 142px;
    margin: 46px 572px 48px 37px;
    background-color:#FFFFFF ;
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    
}
.text1 {
    width: 134px;
    height: 128px;
    margin: 52px 380px 53px 237px;
    background-image: url(./img/kab.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
    
}
.figura {
    width: 85px;
    height: 13px;
    margin: 83px 45px 140px 621px;
    background-image: url(./img/Прямоугольник.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
    
}
.figura2 {
    width: 85px;
    height: 13px;
    margin: 111px 45px 112px 621px;
    background-image: url(./img/Прямоугольник.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
    
}
.figura3 {
    width: 85px;
    height: 13px;
    margin: 139px 45px 84px 621px;
    background-image: url(./img/Прямоугольник.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
    
}
.block2 {
    width: 750px;
    height: 466px;
    background-image: url(./img/kvart.png);
    opacity: 1;
}
.figura4 {
    width: 742px;
    height: 444px;
    margin: -1px 0px 22px 8px;
    background-image: url(./img/Прямоугольник\ 2.png);
    background-repeat: repeat-x;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
 
}
.knopka1 {
    width: 342px;
    height: 75px;
    margin: 344px 204px 47px 204px;
    background-image: url(./img/Прямоугольник\ 4@1X.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
 
}
.text2 {
    width: 251px;
    height: 17px;
    margin: 24px 46px 29px 45px;
    font-size: 21px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.foto {
        width: 247px;
        height: 247px;
        margin: 73px 459px 0px 44px;
        background-image: url(./img/devushka.png);
        position: absolute;
        border-radius: 50%;
        opacity: 1;

}
.name {
    width: 210px;
    height: 27px;
    margin: 134px 174px 0px 366px;
    font-size: 29px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.text3 {
    width: 245px;
    height: 50px;
    margin: 190px 141px 0px 364px;
    font-size: 21px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.text4 {
    width: 590px;
    height: 166px;
    margin: 380px 116px 0px 44px;
    font-size: 21px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.text5 {
    width: 545px;
    height: 32px;
    margin: 592px 161px 0px 44px;
    font-size: 29px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.spisok {
    width: 256px;
    height: 190px;
    margin: 667px 450px 0px 44px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
    position: absolute;
    opacity: 1;
    text-align: left;
 
}
.knopka2 {
    width: 342px;
    height: 75px;
    margin: 900px 191px 0px 217px;
    background-image: url(./img/Прямоугольник\ 4@1X.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    opacity: 1;
 
}
.text6 {
    width: 251px;
    height: 17px;
    margin: 24px 46px 29px 45px;
    font-size: 21px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    text-align: center;
 
}
.block4 {
    width: 750px;
    height: 154px;
    margin: 1024px 0px 0px 0px;
    background-color:#888888 ;
}
.elips2 {
    width: 97px;
    height: 97px;
    margin: 29px 610px 28px 44px;
    background-color:#FFFFFF ;
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    
}
.adress {
    width: 199px;
    height: 17px;
    margin: 103px 227px 34px 325px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    text-align: center;
 
}
.tel {
    width: 136px;
    height: 15px;
    margin: 57px 45px 82px 570px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    text-align: center;
 
}
.email {
    width: 144px;
    height: 17px;
    margin: 99px 45px 38px 562px;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    position: absolute;
    opacity: 1;
    text-align: center;
 
}